*{
margin:0px;
box-sizing:border-box;
font-family: 'Roboto', sans-serif;
}
.headers{
height:170px;
background-color:#f2890c;
}
.header1{
min-height:170px;
margin-left:5px;
}
.header1-1{
display:flex;
justify-content:flex-end;
}
.header1-1-menu{
height:40px;
background-color:#ce8c3e;
margin-right:30px;
padding:10px 20px;
border-bottm-left-radius:10px;
border-bottm-right-radius:10px;
}
.header1-2{
color:#ffd89c;
margin-top:20px;
margin-left:10px;
}
.header2{
background-color:#FEFEFE;
}
.h3{
font-size:30px;
}
.header-1-4-search{
display:flex;
justify-content:flex-end;
margin-right:30px;
margin-top:20px
margin-bottom:15px;

}
.header-1-4-search-form{

}
.search,.btn{
padding:10px 10px;
outline:none;
}
.btn{
border-top-right-radius:10px;
border-bottom-right-radius:10px;
margin-left:-10px;

}
.search{
border-top-left-radius:10px;
border-bottom-left-radius:10px;
}
.menu-list{
list-style:none;
padding:10px;5px;
background-color:#ccc;
height:35px;
}
.menu-list> li{
display:inline;
margin-left:30px
}
.content {
display:grid;
grid-template-columns:repeat(6 ,1fr);
margin:10px;
}
.game{
background-color:#ececec;
border:10px solid #FEFEFE;
border-radius:9px;
grid-column:span 2;
margin-left:7px;
margin-right:10px;
}
.talk{
grid-column:span 4;
}
.dav{
background-color:#ECECEC;
}
.marv{
display:flex;
}
.ari{
margin-top:10px;
margin-bottom:10px;
background-color:#FEFEFE;
}
.bless{
background-color:#FEFEFE;
}
.foto{
width:100px;
border-radius:9px;
}
.foam{
width:100px;
border:10px solid #ED8101;
border-radius:9px;
margin-right:10px;
margin-top:10px;
}
.dan{
display:flex;
}
.btn2{
display:flex;
justify-content:flex-end;
}
button{
background-color:#ED8101;
width:70px;
height:40px;
}
p{
margin:5px;
}
.cyn{
margin-left:5px;
margin-top:30px;
}
.eze{
color:#BCBEBE;
}
h3{
color:black;
}
.foam2{
color:#BCBEBE;
}
h1{
padding-top:10px;
padding-bottom:5px;
}


